<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preferences - Kitoko Bites</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<!-- Add/Edit Product Form -->
<div class="container">
    <h2><%= products.productname %></h2>
    <form action="/addproducts/<%= products.productid%>" method="POST">
      <div class="mb-3">
        <label for="product-name" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="product-name" name="productname" placeholder="Input a product name here">
      </div>
      <div class="mb-3">
        <label for="product-type" class="form-label">Product Type</label>
        <select  class="form-control" id="product-type" name="producttype" required>
            <% producttype.forEach(producttype => { %>
                <option value="<%= producttype.producttypeid %>"><%= producttype.producttypename %></option>
            <% }); %>
        </select>
      </div>
      <div class="mb-3">
        <label for="product-price" class="form-label">Price</label>
        <input type="number" class="form-control" id="product-price" name="productprice" placeholder="Input a price here" required>
      </div>
      <div class="mb-3">
        <label for="product-cost" class="form-label">Cost</label>
        <input type="number" class="form-control" id="product-cost" name="productcost" placeholder="Input a product cost" required>
      </div>
      <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
  </div>
</body>
</html>
  