<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preferences - Kitoko Bites</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<!-- Add/Edit Product Type Form -->
<div class="container">
    <h2>Edit Product Type</h2>
    <form action="/editproducttype/<%= producttype.producttypeid %>" method="POST">
      <div class="mb-3">
        <label for="type-name" class="form-label">Type Name</label>
        <input type="text" class="form-control" id="type-name" name="producttypename" value="<%= producttype.producttypename%>" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>
  